/*body{
    background-image: url('../img/bestbucket.png') ;
    background-size: repeat-x repeat-y;

    }*/

  /* label color */
   .input-field label {
     color: #20B5D8 ;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #20B5D8 ;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #20B5D8;
     box-shadow: 0 1px 0 0 #20B5D8 ;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000 ;
     box-shadow: 0 1px 0 0 #000 ;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000 ;
     box-shadow: 0 1px 0 0 #000 ;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #20B5D8 ;
   }

.name{
  margin-top: 100px;
  opacity: 10.6;

}   
.card{

  /*background: rgb(255, 255, 255); */
  background: rgba(255, 255, 255, .6); 
}
.item-card{
  
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, .5); 
}
.btns{
    color: red;
}

.h3{
  font-family: "Art Brewery";
    src: url(..static/fonts/Art Brewery.ttf) format("truetype");
}

.errors {
  color: white;
}

.nav-wrapper{
  
  background-color: rgba(16, 14, 14, 0.9);
  
}

.pull-left{    
  margin-left: 20px;
  margin-top: 15px;
}
.button1{
background-color: rgba(32, 181, 216);
} 

