language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

before_install:
  - pip install -r requirements.txt
install:
  - pip install coveralls
before_script:
  - psql -c 'create database djangoapp;' -U postgres
script:
  - coverage run manage.py test
after_success:
  - coveralls
branches:
  only:
  - develop
services:
  - postgresql
env:
  global:
    - TRAVIS_BUILD=true