<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add a bucketlist</h4>
      
        <div class="input-field col s12">
          <input placeholder="New bucketlist name" id="new_item_name" type="text" class="validate ng-valid ng-dirty ng-touched ng-empty" ng-model="new_item_name">
          
            <span class="text-danger small">{{ field.error }}</span>
            <label for="new_item_name" class="active">{{ field }}</label>
          
        </div>
     
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a> 
      <button type="submit" class="btn btn-sucess">Submit</button>
      <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">create</a> -->
    </div>
</div>