<div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Edit your item</h4>
      <div class="modal-body">
        <div class="bucketlistform">
         
          <form role="form" >
           
            <input type="text" placeholder="New item name" name="name" id="mod4" required="True"/>
            
          </form>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat ">close</a> 
      <!--button type="submit" id="edit-button" class="btn btn-sucess #ffecb3 blue lighten">Submit</button-->
      <button type="submit" value="Update" class="btn btn-sucess #ffecb3 blue lighten">Edit</button>

      <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">create</a> -->
    </div>
</div>