      <div class="row" hidden id="signin">
        <div class="name col m4 offset-m7">
          <div class="card">
            <div class="card-content">
                    <div class="col s12" style="font-family: Ubuntu; ">
                      <h3>Sign in</h3>
                    </div>
                    <div class="row " >
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="first_name" type="text" class="validate">
                              <label for="first_name" style="font-family: Ubuntu; ">Email</label>
                            </div>
                          </div>                          
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="password" type="text" class="validate">
                              <label for="Password" style="font-family: Ubuntu; ">Password</label>
                            </div>
                          </div>
                          <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; " type="button" name="signup" onclick="toggleAuths('up')">SIGN UP</button>
                          </div>
                          <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; "type="submit" name="signup">SIGN IN</button>
                          </div>
                
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
    </div>
            
