{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>0hh Website Template | Home :: W3layouts</title>
        <meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <!-- <link href="css/style.css" rel="stylesheet" type="text/css"  media="all" /> -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"  media="screen,projection"/>
    </head>
    <body>
        <!--start-wrap--->
        <div class="wrap">
            <!---start-header---->
                <div class="header">
                    <div class="logo">
                        <h1><a href="#"></a></h1>
                    </div>
                </div>
            <!---End-header---->
            <!--start-content------>
            <div class="content">
                <img src="/static/img/error-img.png" title="error" />
                <p><span><label>O</label>hh.....</span> Looks  like you're lost!</p>
                <a href="/bucketlists/">Get back Home</a>
            </div>
            <!--End-Cotent------>
        </div>
        <!--End-wrap--->
    </body>
</html>

