{% extends "header.html" %}
{% load static %}


{% block content %}
{% block navbar %}
  {% include "includes/navbar.html" %}
{% endblock %}
  <div class="row" id="signup" style="background-image: url('../img/sunrise.jpg');">
    <div class="name col m6 offset-m3">
      <div class="item-card">
        <div class="card-content">
            <!-- task-card -->
            <ul id="task-card" class="collection with-header">
              <li class="collection-header cyan">
                  <h4 class="task-card-title" style="font-family:bakery;, font-size:20px;">Lets do this thang!</h4>
                  <p class="task-card-date" style="font-family:Ubuntu;">{{ bucketlist.name }}</p>
              </li>
              {% for item in items %}
              <li class="collection-item dismissable">

                {% if item.done %}
                  <input type="checkbox" id="{{item.id}}" checked/>
                {% else %}
                  <input type="checkbox" id="{{item.id}}"/>
                {% endif %}

                  <label for="{{item.id}}"><a href="#" class="secondary-content"><span class="ultra-small">{{ item.name }}</span></a>
                  </label>
              </li>
              {% endfor %}
            </ul>
            <!-- task-card -->
             
        </div> 
      </div>
    </div>
  </div> 

 </div>              
{% endblock %}           

