{% extends "header.html" %}
{% load static %}


{% block content %}
{% block navbar %}
  {% include "includes/navbar.html" %}
{% endblock %}

  <div class="row" id="items">

    <div class="name col m6 offset-m3" style="margin-top:0px;">
      <div class="item-card">
        <div class="card-content">

            <div class="right-align" style="margin-top:10px;">
                <a class="btn-floating btn-large waves-effect waves-light #ec407a pink lighten-1 btn modal-trigger" data-target="modal2"><i class="material-icons">add</i></a>
            </div>
            <!-- Modal Structure -->
            <form class="form-horizontal"  action="" method="POST">
                {% csrf_token %}
                {% include "includes/item_add.html"%}
            </form>
            {% include "includes/flash-messages.html" %}
            <!-- task-card -->
            <ul id="task-card" class="collection with-header">
              <li class="collection-header cyan">
                  <h4 class="task-card-title" style="font-family:bakery;, font-size:20px;">Lets do this thang!</h4>
                  <p class="task-card-date" style="font-family:Ubuntu;">{{ bucketlist.name|upper }}</p>
              </li>
              {% for item in items %}
              <li class="collection-item dismissable">
                {% if item.done %}
                  <input type="checkbox" id="{{item.id}}" onclick="sendCheck({{item.id}}, '0')" checked/>
                {% else %}
                  <input type="checkbox" id="{{item.id}}" onclick="sendCheck({{item.id}}, '1')"/>
                {% endif %}

                <label for="{{item.id}}"><a href="#" class="secondary-content"><span class="ultra-small">{{ item.name }}</span></a>
                </label> 
                <div class="right" style="display:inline;">
                  <a id="anchor" data-url="/bucketlists/{{bucketlist.pk}}/items/{{item.pk}}/delete/" >
                    <i class="material-icons delete-item"style="font-size: 1.5rem; color:#c62828;" link="/bucketlists/{{bucketlist.pk}}/items/{{item.pk}}/delete/">delete</i>
                  </a>
                  
                  <a class="btn-item modal-trigger" data-url="/bucketlists/{{bucketlist.id}}/items/{{item.id}}/edit/" data-target="modal4"><i class=" btn-item material-icons" style="font-size: 1.5rem; color:#0091ea;">edit</i></a>
                 </div> 
              </li>

              {% endfor %}

            </ul>
            <!-- task-card -->
            <form id="updateitem" class="form-horizontal"  action="" method="POST">
                {% csrf_token %}
                {% include "includes/edit_items.html"%}
            </form>
            
        </div> 
      </div>
    </div>
  </div>

  <script type="text/javascript">
  // 1 means send done, 0 means send not done.
  function sendCheck (itemId, status) {
    window.location.href += itemId + '/status';
  }
  </script>

 </div>              
{% endblock %}           

