 <!DOCTYPE html>
  <html>
    <head>
      <!-- Materialize
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="../static/my-css/app.css">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}
    </head>

    <body>
    <div class="row ">
        <div class="row">
        <div class="name col m4 offset-m7">
          <div class="card">
            <div class="card-content">
                    <div class="col s12" style="font-family: Ubuntu; ">
                      <h3>Sign up</h3>
                    </div>
                    <div class="row " >
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="first_name" type="text" class="validate">
                              <label for="first_name" style="font-family: Ubuntu; ">First Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input type="text" class="validate">
                              <label for="lastname" style="font-family: Ubuntu; ">Lastname</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="email" type="text" class="validate">
                              <label for="Email" style="font-family: Ubuntu; ">Email</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="password" type="text" class="validate">
                              <label for="Password" style="font-family: Ubuntu; ">Password</label>
                            </div>
                          </div>
                          <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; " type="submit" name="signup">SIGN UP</button>
                          </div>
                          <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; "type="submit" name="signup">SIGN IN</button>
                          </div>
                
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
    </div>        
      <!--Import jQuery before materialize.js-->
      <div class="panel is-selected" style="position:absolute; left:0%;"></div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    </body>

  </html>