{% extends "header.html" %}
{% load static %}
{% block content %}
<!--<style type="text/css">
    body{  
    background-image: url('/static/img/sunrise.jpg') ;
    background-size: cover;
    background: white-transluscent-background;
  }
</style>-->

<div class="row" id="main_row">
    <div class="col m4" style="diplay:inline; margin-top:240px; margin-left:200px;">
      <img src="/static/img/adventure.png" style="width:370px;height:220px;">
    </div>
    <div class="col m4 offset-m1">
       <div style="margin-top:120px;" >
          <ul class="tabs">
            <li class="tab col s3"><a class="active"  href="#signup">Sign up</a></li>
            <li class="tab col s3"><a href="#signin">Sign in</a></li>
            
          </ul>
        </div>
      <!-- signup form -->
      <div id="signup" class="col s12">
        <div id="signup_div" class="name col m12">
          <div class="card">
            <div class="card-content">
               
                    <div class="col-sm-12">
            
                    </div>
                    <div class="row " >
                       <form class="col s12" method='POST' action="/">
                          {% csrf_token %}
                          {{ form.non_field_errors }}
                          <div class="input-field">
                              <label for="id_subject">Username</label>
                              {{ form.username }}
                          </div>    
                          <div class="input-field">
                              <label for="id_subject">Email</label>
                              {{ form.email }}
                          </div>
                          <div class="input-field">    
                              <label for="id_subject">Password</label>
                              {{ form.password }}
                          </div> 
                          <div class="input-field">   
                              <label for="id_subject">Confirm password</label>
                              {{ form.password_two }}
                          </div>
                              <input style="height:50px;width:200px; margin-left:100px; background-color: #20B5D8; border: 0pt" type="submit" value="SIGN UP" id="signup_btn" class="button1">
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
      </div>

      <!-- sign in -->
      <div id="signin" class="col s12">
         <!-- <div id="signup" class="col s12"> -->
        <div id="signin_div" class="name col m12">
          <div class="card">
            <div class="card-content">   
                    <div class="col-sm-12">
                      
                    </div>
                    <div class="row">
                        <form class="col s12" method='POST' action="/login/">{% csrf_token %}
                          {{ signin.non_field_errors }}
                          <div class="input-field">
                            <label for="id_subject">Username</label>
                            {{ signin.username }}
                          </div>
                          <div class="input-field">  
                            <label for="id_subject">Password</label>
                            {{ signin.password }}
                          </div>  
                         
                          <input style="height:50px;width:200px; margin-left:100px; margin-top:px; background-color: #20B5D8; border: 0pt" type="submit" value="SIGN IN" class="button1">
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
      </div>

      </div>
    </div>
    
</div>
        
     
<div class="row page-footer">
  <div class="col m1">  
    <p style="display:inline-block; color:white; margin-left:12px; ">Crafted with</p>
  </div>
  <div class="col m">
    <i class="material-icons" style="color:red; margin-top:15px;">favorite_border</i></a>
  </div>
  <div class="col m3"   
    <p style=" text-align: left; margin-left:0px;display:inline-block; color:white; margin-top:15px;">by Penny Wanjiru</p>
  </div>
</div>
{% endblock %}           
