{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="row" id="signup">
        <div class="name col m4 offset-m7">
          <div class="card">
            <div class="card-content">
                    <div class="col s12" style="font-family: Ubuntu; ">
                      <h3>Sign up</h3>
                    </div>
                    <div class="col-sm-12">
                      
                    </div>
                    <div class="row " >
                        <form class="col s12" method="POST" action="/register">
                          {% csrf_token %}
                          <div class="row">
                            <div class="input-field col s10">
                              <input id="first_name" type="text" class="validate" name="firstname" required>
                              <label for="first_name" style="font-family: Ubuntu; ">First Name</label>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input type="text" class="validate" name="lastname" required>
                              <label for="lastname" style="font-family: Ubuntu; ">Lastname</label>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="email" type="email" class="validate" name="email" required>
                              <label for="Email" style="font-family: Ubuntu; ">Email</label>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s10">
                              <input  id="password" type="text" class="validate" name="password">
                              <label for="Password" style="font-family: Ubuntu; ">Password</label>
                              
                            </div>
                          </div>
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-error">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                          {% endif %}
                          <input type="submit" class="button">
                          <!-- <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; " type="submit" name="signup">SIGN UP</button>
                          </div>
                          <div class="btns col m6">
                            <button class="btn 
                            btn-large #29b6f6 light-blue lighten-1 waves-effect waves-dark " style="font-family: Ubuntu; "type="button" name="signup" onclick="toggleAuths('in')">SIGN IN</button>
                          </div> -->
                
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
    </div> 
{% endblock %}           
