{% extends "header.html" %}
{% load static %}
{% block content %}

<div class="row" id="main_row">
    <div class="col m4" style="diplay:inline; margin-top:240px; margin-left:200px;">
      <img src="/static/img/adventure.png" style="width:350px;height:200px;">
    </div>
    <div class="col m4 offset-m1">
       <div style="margin-top:120px;" >
          <ul class="tabs">
            <li class="tab col s3"><a class="active"  href="#signup">Sign up</a></li>
            <li class="tab col s3"><a href="#signin">Login in</a></li>
            
          </ul>
        </div>
      <!-- signup form -->
      <div id="signup" class="col s12">
        <div id="signup_div" class="name col m12">
          <div class="card crd">
            <div class="card-content">
               
                    <div class="col-sm-12">
            
                    </div>
                    <div class="row " >
                       <form class="col s12" method='POST' action="/">
                          {% csrf_token %}
                          {{ form.non_field_errors }}
                          <div class="input-field">
                              <label for="id_subject">Username</label>
                              {{ form.username }}
                          </div>    
                          <div class="input-field">
                              <label for="id_subject">Email</label>
                              {{ form.email }}
                          </div>
                          <div class="input-field">    
                              <label for="id_subject">Password</label>
                              {{ form.password }}
                          </div> 
                          <div class="input-field">   
                              <label for="id_subject">Confirm password</label>
                              {{ form.password_two }}
                          </div>
                              <input style="height:50px;width:200px; margin-left:70px; background-color: #20B5D8; border: 0pt" type="submit" value="SIGN UP" id="signup_btn" class="button1">
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
      </div>

      <!-- sign in -->
      <div id="signin" class="col s12">
         <!-- <div id="signup" class="col s12"> -->
        <div id="signin_div" class="name col m12">
          <div class="card crd">
            <div class="card-content">   
                    <div class="col-sm-12">
                      
                    </div>
                    <div class="row">
                        <form class="col s12" method='POST' action="/login/">{% csrf_token %}
                          {{ signin.non_field_errors }}
                          <div class="input-field">
                            <label for="id_subject">Username</label>
                            {{ signin.username }}
                          </div>
                          <div class="input-field">  
                            <label for="id_subject">Password</label>
                            {{ signin.password }}
                          </div>  
                         
                          <input style="height:50px; width:200px; margin-left:70px; margin-top:5px; background-color: #20B5D8; border: 0pt" type="submit" value="SIGN IN" class="button1">
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
      </div>

      </div>
    </div>
    
</div>
        
{% endblock %}           
