{% extends "header.html" %}
{% load static %}
{% block content %}
<!--<style type="text/css">
    body{  
    background-image: url('/static/img/sunrise.jpg') ;
    background-size: cover;
    background: white-transluscent-background;
  }
</style>-->


<div class="row" id="signup">
        <div class="col m4" style="diplay:inline; margin-top:240px; margin-left:200px;">
          <img src="/static/img/adventure.png" style="width:350px;height:220px;">
        </div>
        
        <div class="name col m4 offset-m1 " style="diplay:inline-block;">

          <div class="card">
            <div class="card-content">
                    <div class="col s6" style="font-family: Ubuntu; ">
                      <h3 style="font-size:20px; color:#016F97; margin-left:20px; margin-bottom:50px;font-family: .Helvetica Neue DeskInterface;;">SIGN UP</h3>
                    </div>
                    <div class="col s6" style="font-family: Ubuntu; ">
                      <h3 style="font-size:20px; color:#016F97; margin-left:20px; margin-bottom:50px;font-family: .Helvetica Neue DeskInterface;;">SIGN IN</h3>
                    </div>
                    <div class="col-sm-12">
                      
                    </div>
                    <div class="row " >
                        <form class="col s12" method='POST' action="/">
                          {% csrf_token %}
                          <div class="fieldWrapper">
                              {{ form.subject.errors }}
                              <label for="id_subject" style="color:black;">USERNAME:</label>
                              {{ form.username }}
                              <label for="id_subject" style="color:black;">EMAIL:</label>
                              {{ form.email }}
                              <label for="id_subject" style="color:black;">PASSWORD:</label>
                              {{ form.password }}
                              <label for="id_subject" style="color:black;">CONFIRM PASSWORD:</label>
                              {{ form.password_two }}
                          </div>
                          <input style="height:50px;width:200px; margin-left:100px; background-color: #20B5D8; border: 0pt" type="submit" value="SIGN UP" class="button1">
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
    </div> 
    <div class="row page-footer">
      <div class="col m1"   
        <p style="margin-left:20px; color:white;"> Crafted with </p>
      </div>
      <div class="col m2">
      <i class="material-icons" style="color:red">favorite_border</i></a>
      </div>

    </div>
{% endblock %}           
