{% extends "header.html" %}
{% load static %}
{% block content %}

<div class="row" id="login">
        <div class="name col m4 offset-m7">
          <div class="card">
            <div class="card-content">
                    <div class="col s12" style="font-family: Ubuntu; ">
                      <h3 style="font-family:Helvetica Neue DeskInterface;">Sign in</h3>
                    </div>
                    <div class="col-sm-12">
                      
                    </div>
                    <div class="row " >
                        <form class="col s12" method='POST' action="/login/">{% csrf_token %}
                          {{ form }}
     
                          <input type="submit" value="signin"class="button">
                
                        </form>
                    </div>  
            </div> 
          </div>
        </div>
    </div> 
{% endblock %}           

