appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.11.28
chardet==3.0.4
coverage==4.1
coveralls==1.1
decorator==4.0.9
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.11.26
django-debug-toolbar==1.4
django-filter==0.13.0
django-registration==2.0.4
django-test==0.4030
djangorestframework==3.11.2
djangorestframework-jwt==1.8.0
docopt==0.6.2
drfdocs==0.0.10
gnureadline==6.3.3
gunicorn==19.10.0
idna==2.8
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
Markdown==2.6.6
nose==1.3.7
nose-pudb==1.0
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
psycopg2-binary==2.8.3
ptyprocess==0.5.1
pudb==2016.1
Pygments==2.1.3
PyJWT==1.4.0
pytz==2019.3
requests==2.22.0
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.19
static3==0.7.0
traitlets==4.2.1
urllib3==1.25.7
urwid==1.3.1
