#main{
  background-image: url('../img/the_image.png');
  height:100%;
  background-size: repeat-x repeat-y;
  min-height:100vh;
}

#itms{
  min-height:100vh;
  background-color: white;
  margin-bottom: -20px;
}

#items{
margin-bottom: 0px;
}
body{  

    background-image: url('/static/img/watercoaster.jpg'), linear-gradient(#3d72b4, #525252);
    background-color: rgba(0, 0, 0, 0.60);
    background-blend-mode: overlay;
    background-size: cover;
    height:100%;

    /*overflow:hidden;*/
  }
  
#yaya{
 
 background: #0091ea;
}    
