#main {
  background-color: #d4c2c4;
	max-width:100%;
  max-height:100%;
	overflow:auto;
  /* height: 100%;
  background-size: repeat-x repeat-y;
  min-height: 100vh; */
}

#itms {
  min-height: 100vh;
  background-color: white;
  margin-bottom: -20px;
}

#items {
  margin-bottom: 0px;
}

#main_row {
  background-image: url('/static/img/foggy.jpg'), linear-gradient(#3d72b4, #525252);
  /* background-color: rgba(0, 0, 0, 0.60);
  background-blend-mode: overlay; */
  /* background-size: cover; */
	width:100vw;
	height: 100vh;
	overflow:auto;
}

#yaya {
  background-image: url('/static/img/marble.png');
}

#div-bcgrnd {
  diplay: inline;
  margin-top: 240px;
  margin-left: 200px;
}

#adventure-img {
  width: 350px;
  height: 200px;
}

#sign-tab {
  margin-top: 120px;
}

#signup_btn {
	height: 40px;
	width: 130px;
	margin-left: 136px;
  margin-top: 25px;
	border-style: none;
	background-color: #8593ac;
  border-radius: 100px;
	font-family: "Karla-Regular";
	src: url(..static/fonts/Karla-Regular.ttf) format("truetype");
}

#signin-btn {
	height: 40px;
	width: 130px;
	margin-left: 136px;
  margin-top: 25px;
  background-color: #8593ac;
	border-radius: 100px;
  border-style: none;
	font-family: "Karla-Regular";
}

#signup_div{
	border-bottom-left-radius: 200px;
	border-radius: 0 0 13px 13px;
}

#signup {
	font-family: "Karla-Regular";
	src: url(..static/fonts/Karla-Regular.ttf) format("truetype");
}

.card .card-content {
	background-color: #101010;
	border-radius: 0 0 13px 13px;
}

.card{
	border-radius: 0 0 13px 13px;
}

.tabs {
	background-color: #101010;
	border-radius: 13px 13px 0 0;
	opacity: 0.9;
	font-family: "Karla-Regular";
	font-size: 16px;
	font-color: #8593ac;
}


.tabs .tab a {
    color: #898a8a;
}

.tabs .indicator {
    background-color: #e4a199;
}

#item-msg {
  font-size: 15px;
  margin-left: 200px;
}

#bckt-head {
  font-family: Ubuntu;
  font-size: 32px;
}

#bucket-msg {
  font-size: 25px;
}

#bucket-name {
	font-family: "Karla-Regular";
	src: url(..static/fonts/Karla-Regular.ttf) format("truetype");
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 10px;
	font-weight:100;
}

.back-rectangle{
	background-color: #7c655c;
	height: 70px;
  width: 200px;
	position: relative;
	padding: 14px;
	margin: auto;
	margin-top: 34px;
	max-width:100%;
  max-height:100%;
	overflow:auto;

}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #0f0f0f!important;
	-webkit-text-fill-color: white;
}

#date {
	font-family: "Karla-Regular";
	src: url(..static/fonts/Karla-Regular.ttf) format("truetype");
  font-size: 12px;
	font-weight: 100px;
	color: #eee7e4 !important;
}

.blue-text.text-darken-4 {
  color: #FFFFFF !important;
}

.fixed-action-btn {
	position: relative;
	float:right;
  bottom: 60px;
  right: 12px;
}
#blush{
	background-color: #fbd2d7
}
.btn-floating{
	background-color: #b7aeaf;
}

.btn-floating.btn-large:hover {
  background-color: white;
}


/*items page*/

#main-div {
  width: 61%;
  padding-top: 1%;
}

.right-align {
  margin-top: 10px;
}

.task-card-date {
  font-family: Ubuntu;
  font-size: 20px;
}

.btn-item {
  font-size: 1.5rem;
  color: #0091ea;
  cursor: pointer;
}

.delete-item {
  font-size: 1.5rem;
  color: #c62828;
  cursor: pointer;
}

#itm-nm {
  color: #000000;
}

.right {
  font-family: ubuntu;
  margin-right: 40px;
  font-size: 15px;
}
